<div *ngIf="product">
  <a href="/" class="bn3637 bn36" (click)="goBack()">Back</a>
  <h2 class="title">{{product.manufacturer | uppercase}} {{product.name}}</h2>
    <div *ngIf="images">
      <img  *ngFor="let image of images" [src]=image.imageURI width="500px" height="500px">
    </div>
  <p class = "Price">
    {{product.price}} Rubles</p>

  <ul>
    <li>Name: {{product.name}}</li>
    <li>Manufacturer: {{product.manufacturer}}</li>
    <li>Type: {{product.type}}</li>
    <li>Release date: {{product.releaseDate}}</li>
  </ul>
<!--  <p class ="Description">{{product.description}}</p>-->
</div>
